# Fichiers sensibles
.env
*.key
*.pem

# Fichiers Python inutiles
*.pyc
*.pyo
*.pyd
__pycache__/

# Git et versionnement
.git
.gitignore

# Logs et caches
*.log
*.sqlite3
*.db
*.cache/
*.coverage
*.tox/

# Fichiers statiques et médias générés
staticfiles/
media/

# Outils et IDE
.DS_Store
.vscode/
.idea/

# Docker lui-même
docker-compose.override.yml
