{% extends "application/base.html" %}

{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="indice">
  <center><h1>ACCUEIL</h1></center>
</div>
<div class="indice2">
    <div class="message-bar" id="barre">
      <h1>PRÉSENTATION</h1>
      <span class="arrow down" id="arrow">▼</span>
    </div>

    <div class="message-detail" id="detail">
      <div style="color: black;">
        <h3><u>DETAIL DU MESSAGE</u></h3>
        <h3>Bienvenue sur mon blog. Vous vourez dans les fonctionnalités de ce site web,</h3>
        <h3>ma conception originale, et comment il peut vous être utile dans la prise de contat,</h3>
        <h3>entre nous. N'hésitez pas à explorer les différentes sections du site pour en savoir plus sur mes projets.</h3>
      </div>
    </div>
</div>
<div align="center"><br><br><br>
<hh1>REFLET DU DOMAINE DE MES RÊVES</h1>
<section id="section2">
  <div class="gallery">
    <img src="{% static 'images/image12.webp' %}" class="active" alt="Photo 1">
    <img src="{% static 'images/image14.jpeg' %}" alt="Photo 2">
    <img src="{% static 'images/image15.jpg' %}" alt="Photo 3">
    <img src="{% static 'images/image16.jpg' %}" alt="Photo 4">
    <img src="{% static 'images/image17.jpg' %}" alt="Photo 5">
    <img src="{% static 'images/image18.jpg' %}" alt="Photo 6">
    <img src="{% static 'images/image19.jpg' %}" alt="Photo 7">
    <img src="{% static 'images/image20.jpg' %}" alt="Photo 8">
    <img src="{% static 'images/image21.jpg' %}" alt="Photo 9">
    <img src="{% static 'images/image22.jpg' %}" alt="Photo 10">
    <img src="{% static 'images/image23.jpg' %}" alt="Photo 11">
    <img src="{% static 'images/image24.jpg' %}" alt="Photo 12">
    <img src="{% static 'images/image25.jpg' %}" alt="Photo 13">
    <img src="{% static 'images/image26.jpg' %}" alt="Photo 14">
    <img src="{% static 'images/image27.jpg' %}" alt="Photo 15">
    <img src="{% static 'images/image28.jpg' %}" alt="Photo 16">
    <img src="{% static 'images/image29.jpg' %}" alt="Photo 17">
    <img src="{% static 'images/image30.jpg' %}" alt="Photo 18">
    <img src="{% static 'images/image31.jpg' %}" alt="Photo 19">
    <img src="{% static 'images/site1.jpeg' %}" alt="Photo 20">

    <div class="controls">
      <button id="prev">&#10094;</button>
      <button id="next">&#10095;</button>
    </div>

    <div class="indicators">
      <span class="active"></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</section>
</div>
{% endblock %}