{% extends "application/base.html" %}

{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="indice" style="font-size: 50px;">
  <center><h1>ACCUEIL</h1></center>
</div>
<div class="indice2">
  <div class="message-bar" id="barre">
    <h1>PRÉSENTATION</h1>
    <span class="arrow down" id="arrow">▼</span>
  </div>

  <div class="message-detail" id="detail" style="color: rgb(145, 46, 29);">
    <div>
      <h2><u>DETAIL</u></h2>
      <h3>Bienvenue sur mon blog. Vous verrez dans les fonctionnalités de ce site web,</h3>
      <h3>ma conception originale, et comment il peut vous être utile de ce qui est d'une prise de contact,</h3>
      <h3>entre nous. N'hésitez pas à explorer les différentes sections du site pour en savoir plus sur mes projets.</h3>
    </div>
  </div>
</div>

<div align="center"><br><br><br>
<h1>REFLET DU DOMAINE DE MES RÊVES</h1><br><br>
<section id="section2">
  <div class="gallery">
    <img src="{% static 'images/image12.webp' %}" class="active" alt="Photo 1">
    <img src="{% static 'images/image14.jpeg' %}" alt="Photo 2">
    <img src="{% static 'images/image15.jpg' %}" alt="Photo 3">
    <img src="{% static 'images/image16.jpg' %}" alt="Photo 4">
    <img src="{% static 'images/image17.jpg' %}" alt="Photo 5">
    <div class="controls">
      <button id="prev">&#10094;</button>
      <button id="next">&#10095;</button>
    </div>

    <div class="indicators">
      <span class="active"></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</section>
</div>
{% endblock %}