<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Base{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>
  <body>
    <header>
    <div class="logo">MonSite</div>
    <nav class="menu">
      <button id="menu-toggle" class="menu-button">
        <span class="icon">☰</span>
        <span class="label">Menu</span>
      </button>
      <ul id="menu-list" class="hidden">
        <li><a href="{% url 'home' %}"><h3>Accueil</h3></a></li>
        <li><a href="{% url 'biographie' %}">Biographie</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav>
  </header>
    <section id="section1">
      <div align="right">
        <a href="index.html" class="button">Retour à l'acceuil</a>
        <a href="filieres.html" class="button">Voir filières</a>
        <a href="enseignants.html" class="button">Enseignants</a>
        <a href="emploi.html" class="button">Emplois du temps</a>
      </div>
    </section>

    <main>
      {% block content %}

      {% endblock %}
      <script src="{% static 'js/script.js' %}"></script>
    </main>
    
    <section id="section3">
      <footer>
        <h1>&copy; 2025-2026</h1>
      </footer>
    </section>
    
    <script>
      mode_sombre_clair();
    </script>
    
  </body>
</html>