{% extends "application/base.html" %}

{% load static %}

{% block title %}Biographie{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="indice">
  <center><h1>BIOGRAPHIE</h1></center>
</div>
<section id="contact">
  <div class="contact-container">
    <div class="contact-info">
      <img width="100%" height="40%" src="{% static 'images/img1.jpg' %}" alt="1er image">
      <img width="100%" height="40%" src="{% static 'images/img2.jpg' %}" alt="2e image">
    </div>
    <div class="contact-form">
        <p><strong>OUEDRAOGO ALBERT</strong></p>
        <p>Étudiant à l'Université Thomas Sankara</p>
        <p>Ouagadougou, Burkina Faso</p>
        <p>Passionné par le développement web et la technologie.</p>
        <p>Compétences : HTML, CSS, JavaScript, Python, Django.</p>
        <p>Apprentissage: Assembleur, C++, Java, Docter, Nginx.</p>
      </div>
    </div>
  </section>
<section>
{% endblock %}