{% extends "application/base.html" %}

{% load static %}

{% block title %}Biographie{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="indice" style="font-size: 50px;">
  <center><h1>BIOGRAPHIE</h1></center>
</div><br>
<section id="contact">
  <div class="contact-container">
    <div class="contact-info">
      <img width="100%" height="40%" src="{% static 'images/img1.jpg' %}" alt="1er image">
      <img width="100%" height="40%" src="{% static 'images/img2.jpg' %}" alt="2e image">
    </div>
    <div class="contact-form">
        <p>OUEDRAOGO ALBERT</p><br>
        <p>Étudiant à l'Université Thomas Sankara</p><br>
        <p>L1:2023-2024 L2:2024-2025 L3:2025-2026</p><br>
        <p>Profession(en cours): Programmeur</p><br>
        <p>Ouagadougou, Burkina Faso</p><br>
        <p>Passionné par le développement web et la technologie.</p><br>
        <p>Compétences : HTML, CSS, JavaScript, Python, Django.</p><br>
        <p>Apprentissage: Assembleur, C++, Java, Docter, Nginx.</p><br>
        <p>Monde de l'inovation numérique</p><br>
        <p>Monde de l'évolution, de technologie.</p><br>
        <p>Explosion de l'industrialisation, de transport moderne,...</p><br>
        <p>Fin de travaux pénibles, atroces,...</p><br>
        <p>Plus de moyen archaïque.</p><br>
      </div>
    </div>
  </section>
<section>
{% endblock %}