{% extends "application/base.html" %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<section id="section2">
  <section id="contact">
    <h2>Contactez-nous</h2>
    <div class="contact-container">
      <div class="contact-info">
        <p><strong>OUEDRAOOGO ALBERT</strong></p>
        <p>Etudie à l'Université Thomas Sankara</p>
        <p>Ouagadougou, Burkina Faso</p>
        <p>Email : <a href="mailto:ouedraogograceolivier5@gmail.com">ouedraogograceolivier5@gmail.com</a></p>
        <p>Téléphone : +226 77 08 54 84/
                       +226 79 96 87 37
        </p>
      </div>

      <form class="contact-form">
        <input type="text" name="nom" placeholder="Votre nom" required>
        <input type="email" name="email" placeholder="Votre email" required>
        <input type="text" name="sujet" placeholder="Sujet de votre message" required>
        <textarea name="message" rows="10" placeholder="Votre message..." required></textarea>
        <button id="simulation"  type="submit">Envoyer</button>
        <script>
          simulation.addEventListener("click",simulationEnvoie);
        </script>
      </form>
    </div>
  </section>
</section>
{% endblock %}